<div class="container">
  <h1>Here is your coach's answer</h1>

  <div id="your-answer">
    <p><%= @question.capitalize %></p>
    <p>--You</p>
  </div>
    </br>
  <div id="coach-answer">
    <p><%= @response %></p>
    <p>--Your coach</p>
  </div>
    </br>
  <p><%= link_to 'Want to ask another question?', ask_path %></p>
</div>
