<div class="container">
  <h1>Ask your coach a question</h1>
  <p>What would you like to ask your coach?</p>
  <div class="row">
    <form action="/answer" data-turbo="false" class="col-6">
    <div class="input-group">
      <input type="text" name="answer" class="form-control" >
      <input type="submit" value="Ask!" class="btn btn-danger">
    </div>
    </form>
  </div>
</div>
